body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
    border-radius: 8px;
}

.card-button {
    border-style: none;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    float: right;
    margin-bottom: 2em;
}
